@import "./public.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.clear {
  clear: both;
}
img {
  max-width: 100%;
  border: 0px;
}
ul,
ol {
  list-style: none;
}

h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
/*----- Common Element CSS End -----*/
.silde-section {
  /* border: 2px solid black; */
  margin-bottom: 1rem;
}
.silde-section .item {
  border: 5px solid green;
  margin: 2rem 15px 30px;
  width: 300px;
  height: 300px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
/*-- 變寬 --*/
/* .silde-section .item.active {
  border: 2px solid red;
  width: 00px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
} */
/* .silde-section .item:after {
  border: 3px dotted blue;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* box-mask-color */
/* background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(63, 62, 62));} */
.silde-section .item-desc {
  border: 2px solid red;
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
}
/*--- TEXT彈出 ---*/
.silde-section .item.active .item-desc {
  transform: none;
}
.item-desc {
  width: 100%;
  background-color: #289dd2;
}
.item-desc h3 {
  padding-bottom: 20px;
}
.silde-section .item-desc p {
  /* opacity: 0; */
  transform: translate(32px);
  transition: all 0.4s ease-in-out 0.2s;
}
.silde-section .item.active .item-desc p {
  opacity: 1;
  transform: translateY(0);
}
/*--- list-circle ---*/
.silde-section .owl-theme.custom-carousel .owl-dots {
  /* margin: 0px 2rem; */
  position: relative;
  z-index: 5;
}
/*----- Middle section CSS End -----*/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .silde-section {
    padding: 50px 30px;
  }
  .silde-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .silde-section .item.active {
    width: 400px;
  }
  .silde-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .silde-section {
    padding: 50px 30px 40px;
  }
  .silde-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .silde-section .item.active {
    width: 360px;
  }
  .silde-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .silde-section {
    padding: 30px 15px 20px;
  }
  .silde-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .silde-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .silde-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}
