@import "./public.scss";

@mixin pc2() {
  @media (max-width: 1024px) {
    @content;
  }
}

p,
h2 {
  color: $text_color_g;
}
$raduis: 15px;

#allPartCom {
  width: 60%;
  margin: 3rem auto;
  // border: 3px solid green;
  @include pad() {
    width: 90%;
  }

  // title
  .comTitle {
    display: flex;
    justify-content: center;
    // border: 1px solid black;
    h2 {
      font-size: $text_size-40px;
      text-align: center;
      position: relative;
      // border: 1px solid black;
      @include phone() {
        font-size: $text_size-32px;
      }
    }
    h2::before {
      content: "";
      display: block;
      height: 30px;
      width: 30px;
      background-color: #289cd27a;
      border-radius: 50%;

      position: absolute;
      top: 2px;
      left: -9px;
      z-index: -1;
    }
    h2::after {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      background-color: #289cd279;
      border-radius: 50%;

      position: absolute;
      top: 37px;
      right: -5px;
      z-index: -1;
      @include phone() {
        top: 32px;
        right: -7px;
      }
    }
  }

  // 圖片1
  .box_1 {
    // border: 3px solid rgb(212, 130, 130);
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
    // padding: 0 1rem;
    @include phone() {
      flex-direction: column;
      height: 75vh;
    }
    @include phone2() {
      height: 100vh;
    }
    .com_pic {
      flex: 1;
      background-position: center;
      background-size: cover;
      object-fit: cover;
      @include pad() {
        flex: 1.3;
      }
    }
    .picChange1 {
      background-image: url(../img/com台東池上-1.jpg);
    }
    .picChange2 {
      background-image: url(../img/com清水斷崖-2.jpg);
    }
    .picChange3 {
      background-image: url(../img/com合歡山-2.jpg);
      @include pc2() {
        height: 60vh;
        margin: auto 0;
      }
      @include pad() {
        height: 37vh;
        margin: auto 0;
      }
      // @include phone3
    }
    .com_text1 {
      flex: 1.3;
      text-align: justify;
      padding: 0 1rem 0 2rem;
      text-indent: 1em;
      line-height: 2.2rem;
      @include pad() {
        flex: 1;
      }
      @include phone() {
        padding: 0 1rem;
      }
    }
  }
  // 圖片2
  .box_2 {
    // border: 3px solid blue;
    padding-top: 0.5rem;
    @include pad() {
      display: flex;
      flex-direction: column-reverse;
    }
    @include phone() {
      flex-direction: column;
      padding-top: 0;
    }
    img {
      width: 50%;
      height: 50%;
      float: right;
      margin-left: 2rem;
      object-fit: cover;
      @include pad() {
        width: 100%;
        margin: 0;
      }
      @include phone() {
        height: 30vh;
      }
    }
    p {
      line-height: 2.2rem;
    }
    .com_text2,
    .com_beh {
      text-align: justify;
      text-indent: 1em;
    }
    .com_text2,
    .com_beh {
      padding: 0 2rem;
      @include phone() {
        padding: 0 1rem;
      }
    }
    .floatL {
      object-fit: cover;
      width: 35%;
      height: 20%;
      float: left;
      margin-right: 2rem;
      @include pc2() {
        width: 45%;
      }
      @include pad() {
        width: 70%;
        display: block;
        margin: 0 auto;
      }
      @include phone() {
        width: 100%;
        height: 25vh;
      }
    }
    // 圖片3 調整寬度
    .widthNa_cloud {
      width: 45%;
      @include pad() {
        width: 70%;
      }
      @include phone() {
        width: 100%;
      }
      @include phone2() {
        height: 35vh;
      }
    }
    // 圖片4 調整寬度&位置
    .widthNa_mr {
      float: right;
      width: 37%;
      @include pc2() {
        width: 44%;
      }
      @include pad() {
        width: 70%;
      }
      @include phone() {
        width: 100%;
      }
      @include phone2() {
        height: 32vh;
      }
    }
    // 圖片5 調整寬度&高度
    .widthNa_flower {
      width: 42%;
      height: 32vh;
      @include pad() {
        width: 70%;
      }
      @include phone() {
        width: 100%;
      }
    }
  }
  // 圖片2 調整寬度
  .widthNa_moutain {
    @include pad() {
      flex-direction: column;
    }
    img {
      width: 35%;
      @include pc2() {
        width: 45%;
      }
      @include pad() {
        width: 70%;
        height: 25vh;
        margin: 0 auto;
      }
      @include phone() {
        width: 100%;
      }
    }
  }

  iframe {
    width: 100%;
    height: 60vh;
    margin-top: 2rem;
  }
  //返回鈕
  .goBack {
    margin: 3rem auto;
    width: 100px;
    height: 40px;
    background-color: $title_ball_bg;
    text-align: center;
    border-radius: $raduis;
    line-height: 40px;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.137);
    }
    a {
      text-decoration: none;
      color: $text_color_w;
    }
  }
}
