@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
@import "./hamburger.css";
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.go_top {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.3s;
}
.go_top:hover {
  background-color: #289DD2;
}
.go_top:active {
  transform: translateY(-10px);
}
.go_top:hover > img {
  animation: go_top 0.8s infinite alternate;
}
@keyframes go_top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

#fixedTop {
  padding: 15px 13px 8px 13px;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 99;
  display: none;
}

header {
  width: 100%;
  height: 110px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  margin-left: 1rem;
  z-index: 10;
}
@media (max-width: 576px) {
  header #logo img {
    width: 200px;
  }
}
@media (max-width: 992px) {
  header #nav_bar {
    display: none;
  }
}
header #nav_bar ul {
  display: flex;
  margin-right: 1.5rem;
}
header #nav_bar ul .nav_bar_item {
  position: relative;
  padding: 1rem;
  color: #545454;
  cursor: pointer;
}
header #nav_bar ul .nav_bar_item a {
  color: #545454;
}
header #nav_bar ul .nav_bar_item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: -1px;
  width: 0%;
  height: 2px;
  background-color: #545454;
  transition: width 0.5s ease-in-out;
}
header #nav_bar ul .nav_bar_item:hover::after {
  width: 100%;
}
header #nav_bar ul .nav_bar_item:hover > .drop_nav_bar {
  display: block;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar {
  display: none;
  width: 100%;
  text-align: center;
  background-color: #545454;
  position: absolute;
  margin-top: 1rem;
  left: 0;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item {
  padding: 0.5rem;
  transition: all 0.3s;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item a {
  color: #FFFFFF;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item:hover {
  background-color: #289DD2;
}

footer {
  background-color: #545454;
  width: 100%;
}
footer .footer_web_map {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  footer .footer_web_map {
    flex-direction: column;
  }
  footer .footer_web_map .web_map_item {
    display: flex;
  }
}
@media (max-width: 576px) {
  footer .footer_web_map {
    display: none;
  }
}
footer .footer_web_map .web_map_item {
  margin: 0.5rem 2rem;
  text-align: center;
}
footer .footer_web_map .web_map_item .web_map_title {
  font-size: 18px;
}
footer .footer_web_map .web_map_item li {
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  transition: all 0.5s;
}
footer .footer_web_map .web_map_item a:hover li {
  background-color: #289DD2;
}
footer .logo {
  text-align: end;
  margin-right: 2rem;
}
@media (max-width: 576px) {
  footer .logo {
    text-align: center;
    padding-top: 1rem;
    margin: 0;
  }
  footer .logo img {
    width: 150px;
  }
}
footer .logo div {
  color: #FFFFFF;
}
@media (max-width: 576px) {
  footer .logo div {
    font-size: 14px;
  }
}
footer .logo .copyright {
  padding-bottom: 1rem;
}

main {
  position: relative;
}
main img.fixed-image {
  position: fixed;
  z-index: -99;
  width: 100%;
  min-height: 100vh;
  bottom: 0;
  left: 0;
}
main .mask {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -3;
  left: 0;
  top: 0;
}
main section {
  position: relative;
}
main section .banner {
  background-image: url(../img/operatePic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
}
main section .banner .title {
  position: absolute;
  top: 7vh;
  left: 7%;
}
main section .banner .title h1,
main section .banner .title p {
  color: #FFFFFF;
  line-height: 1rem;
}
main section .banner .title h1 {
  font-size: 48px;
}
main section .banner .title p {
  font-size: 32px;
}
main section .banner .text_word {
  position: absolute;
  width: 80%;
  height: 40vh;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 15px;
  top: 19rem;
  left: 10%;
  background-image: url(../img/南子.jpg);
  background-size: cover;
  background-position: center;
}
main section .banner .text_word p {
  width: 80%;
  line-height: 25px;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: 10%;
}
main section .operate {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section .operate .operate_box {
  margin: 20rem 0 5rem 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main section .operate .operate_box .operate_info {
  margin-top: 3rem;
  width: 405px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section .operate .operate_box .operate_info h1 {
  font-size: 28px;
}
main section .operate .operate_box .operate_info p {
  padding: 0.5rem;
  font-size: 16px;
}
main section {
  position: relative;
}
main section .video {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
main section .video iframe {
  margin-top: 5rem;
}
main section .box1 {
  margin-top: 40rem;
  background-image: url(../img/南子.jpg);
}
main section .box1 .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
  color: #FFFFFF;
  position: absolute;
  top: 10vh;
}
main section .box1 .tittle div {
  font-weight: 700;
}
main section .box1 .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}
main section .box2 {
  background-image: url(../img/太魯閣.jpg);
}
main section .box2 .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
  color: #FFFFFF;
  position: absolute;
  top: 90vh;
}
main section .box2 .tittle div {
  font-weight: 700;
}
main section .box2 .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}/*# sourceMappingURL=droneOperate.css.map */