@import "./public.scss";

section {
    width: 100%;
}

#droneType_bn {
    width: 100%;
    height: 40vh;
    background-image: url(../img/39dc3e04639d280bc0f0817a36040362.jpg);
    background-position: center;
    background-size: cover;

    .text_box {
        color: $text_color_g;
        padding: 5% 0 0 3%;

        .text_1 {
            font: {
                size: $text_size-48px;
                weight: $text_weight-b;
            }
        }

        .text_2 {
            font: {
                size: $text_size-32px;
                weight: $text_weight-b;
            }
        }
    }
}

.bn_text {
    width: 80%;
    height: 40vh;
    background-image: url(../img/dji_fly_20230124_105622_463_1674529171801_photo_optimized.jpg);
    background-position: center;
    background-size: cover;
    margin: 3rem auto;
    border-radius: 15px;
    position: relative;
    top: -150px;
    background-attachment: fixed;

    p {
        width: 80%;
        line-height: 25px;
        color: $text_color_w;
        position: absolute;
        top: 30%;
        left: 10%;
    }
}

#drone_type {

    .drone_type_btn {
        margin: auto;
        display: flex;
        justify-content: space-around;
        width: 80%;

        .btn {
            width: 150px;
            height: 50px;
            background-color: $btn_bg;
            color: $text_color_w;
            text-align: center;
            line-height: 50px;
            border-radius: 15px;
            font-size: $text_size-18px;
            cursor: pointer;
        }
    }
}