@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
@import "./hamburger.css";
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.go_top {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.3s;
}
.go_top:hover {
  background-color: #289DD2;
}
.go_top:active {
  transform: translateY(-10px);
}
.go_top:hover > img {
  animation: go_top 0.8s infinite alternate;
}
@keyframes go_top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

#fixedTop {
  padding: 15px 13px 8px 13px;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 99;
  display: none;
}

header {
  width: 100%;
  height: 110px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  margin-left: 1rem;
  z-index: 10;
}
@media (max-width: 576px) {
  header #logo img {
    width: 200px;
  }
}
@media (max-width: 992px) {
  header #nav_bar {
    display: none;
  }
}
header #nav_bar ul {
  display: flex;
  margin-right: 1.5rem;
}
header #nav_bar ul .nav_bar_item {
  position: relative;
  padding: 1rem;
  color: #545454;
  cursor: pointer;
}
header #nav_bar ul .nav_bar_item a {
  color: #545454;
}
header #nav_bar ul .nav_bar_item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: -1px;
  width: 0%;
  height: 2px;
  background-color: #545454;
  transition: width 0.5s ease-in-out;
}
header #nav_bar ul .nav_bar_item:hover::after {
  width: 100%;
}
header #nav_bar ul .nav_bar_item:hover > .drop_nav_bar {
  display: block;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar {
  display: none;
  width: 100%;
  text-align: center;
  background-color: #545454;
  position: absolute;
  margin-top: 1rem;
  left: 0;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item {
  padding: 0.5rem;
  transition: all 0.3s;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item a {
  color: #FFFFFF;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item:hover {
  background-color: #289DD2;
}

footer {
  background-color: #545454;
  width: 100%;
}
footer .footer_web_map {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  footer .footer_web_map {
    flex-direction: column;
  }
  footer .footer_web_map .web_map_item {
    display: flex;
  }
}
@media (max-width: 576px) {
  footer .footer_web_map {
    display: none;
  }
}
footer .footer_web_map .web_map_item {
  margin: 0.5rem 2rem;
  text-align: center;
}
footer .footer_web_map .web_map_item .web_map_title {
  font-size: 18px;
}
footer .footer_web_map .web_map_item li {
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  transition: all 0.5s;
}
footer .footer_web_map .web_map_item a:hover li {
  background-color: #289DD2;
}
footer .logo {
  text-align: end;
  margin-right: 2rem;
}
@media (max-width: 576px) {
  footer .logo {
    text-align: center;
    padding-top: 1rem;
    margin: 0;
  }
  footer .logo img {
    width: 150px;
  }
}
footer .logo div {
  color: #FFFFFF;
}
@media (max-width: 576px) {
  footer .logo div {
    font-size: 14px;
  }
}
footer .logo .copyright {
  padding-bottom: 1rem;
}

section {
  width: 100%;
}

#droneInt_bn {
  width: 100%;
  height: 40vh;
  background-image: url(../img/dorneInt.png);
  background-position: center;
  background-size: cover;
}
#droneInt_bn .text_box {
  color: #545454;
  padding: 5% 0 0 3%;
}
#droneInt_bn .text_box .text_1 {
  font-size: 48px;
  font-weight: 700;
}
#droneInt_bn .text_box .text_2 {
  font-size: 32px;
  font-weight: 700;
}

.bn_text {
  width: 80%;
  height: 40vh;
  background-image: url(../img/DJI_0155.jpg);
  background-position: center;
  background-size: cover;
  margin: 3rem auto;
  border-radius: 15px;
  position: relative;
  top: -150px;
  background-attachment: fixed;
}
.bn_text p {
  width: 80%;
  line-height: 25px;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: 10%;
}

#drone_ifo .drone_item {
  display: flex;
  justify-content: end;
  align-items: center;
}
#drone_ifo .drone_item .drone_text {
  width: 50%;
  margin-left: 10rem;
}
#drone_ifo .drone_item .drone_text .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
  color: #545454;
}
#drone_ifo .drone_item .drone_text .tittle div {
  font-weight: 700;
}
#drone_ifo .drone_item .drone_text .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}
#drone_ifo .drone_item .drone_text .drone_text_item {
  color: #545454;
  margin: 1rem 0;
}
#drone_ifo .drone_item .drone_text a {
  border-radius: 15px;
  text-align: center;
  width: 25%;
  padding: 0.5rem 0;
  display: block;
  background-color: #289DD2;
  color: #FFFFFF;
  animation: btn_mre 1.5s infinite alternate;
}
@keyframes btn_mre {
  from {
    background-color: #289DD2;
  }
  to {
    background-color: #1d7299;
  }
}
#drone_ifo .drone_item .drone_text a:hover {
  animation-play-state: paused;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
#drone_ifo .drone_item video {
  border-radius: 15px 0 0 15px;
  width: 50%;
}
#drone_ifo .drone_item .fpv {
  border-radius: 0 15px 15px 0;
  width: 50%;
}

#drone_use {
  margin-top: 10rem;
}
#drone_use .drone_use_text {
  width: 100%;
  height: 50vh;
  background-image: url(../img/DJI_0268.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  position: relative;
}
#drone_use .drone_use_text .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
  color: #FFFFFF;
  position: absolute;
  top: 15%;
  left: 10rem;
}
#drone_use .drone_use_text .tittle div {
  font-weight: 700;
}
#drone_use .drone_use_text .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}
#drone_use .drone_use_text p {
  width: 80%;
  line-height: 25px;
  color: #FFFFFF;
  position: absolute;
  top: 45%;
  left: 10%;
}/*# sourceMappingURL=droneInt.css.map */