@import "./public.scss";

body {
  width: 100%;
  height: 100vh;
}

#form {
  width: 100%;
  height: 1034px;
  background-image: url(../img/exppic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .form_outs {
    width: 1000px;
    height: 808px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: hsla(255, 255, 255, 0.6);

    //表單內容
    .content {
      height: 85%;
      width: 80%;
      display: flex;
      justify-content: space-between;
      p,
      li {
        font-size: $text_size-18px;
        color: $text_color_g;
      }
      //左表單
      .left {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //預約體驗title
        .form_title {
          // margin-top: -20%;
          .tittle {
            color: $text_color_g;
            @include tittle();
            font-size: $text_size-32px;
            .tittle_ball {
              @include title_ball();
            }
          }
        }
        .content_up {
          margin-top: -5rem;
          margin-left: 1rem;
        }
        .content_down {
          line-height: 1rem;
          margin-left: 1rem;
        }
      }
      //右表單
      .signup {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        P {
          font-size: 28px;
        }
        #signup_form {
          display: flex;
          flex-direction: column;
          width: 100%;
          input {
            border-radius: 15px;
            border: none;
            background-color: rgba(84, 84, 84, 0.3);
            backdrop-filter: blur(5px);
            height: 35px;
            padding-left: 1rem;
            margin-top: 1rem;
            letter-spacing: 2px;
            font-size: $text_size-16px;
            color: #325ac9;
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          }
          label {
            font-size: $text_size-18px;
            color: $text_color_g;
            margin-top: 2rem;

            /*text-shadow 可以刪XD*/
            // text-shadow: 0 0 0.2em #289dd2, 0 0 0.2em #289dd2, 0 0 0.2em #289dd2;
          }
        }
        .btn_signup {
          display: block;
          padding: 0.2rem 2rem;
          font-size: $text_size-18px;
          cursor: pointer;
          margin: 3.8rem auto;
          border-radius: 15px;
          border: none;
          background-color: #289dd2;
          color: white;
          transition: 0.3s ease-in-out;
          &:hover {
            transform: translateY(-3px);
            box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.137);
          }
        }
      }
    }
  }
}

/*!!!!!!!!!!!!!!!!!!*/
// #form {
//   .form_outs {
//     width: 1000px;
//     height: 808px;
//     background-color: $web_bg;
//     border-radius: 40px;
//     opacity: 0.9;
//     flex-direction: column;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }

// #signup {
//   display: flex;
//   margin-left: 20px;
// }

footer {
  background-color: $text_color_g;
  border-radius: 300px 0 0 0;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;

  @include phone() {
      border-radius: 300px 300px 0 0;
  }

  .footer_section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 350px;
      border-bottom: 1px solid $web_bg;
      background-image: url(../img/respic.jpg);
      border-radius: 300px 0 0 0;

      @include phone() {
          border-radius: 300px 300px 0 0;
      }

      .footer_img {
          margin-left: -5rem;
          margin-bottom: 10rem;

          @include phone() {
              width: 350px;
              margin-left: -2rem;
          }
      }

      .footer_web_map {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-left: -10rem;
          z-index: 0;
          position: relative;

          &::after {
              content: '';
              background-color: #545454d0;
              width: 100%;
              height: 300px;
              top: -10px;
              left: 0;
              position: absolute;
              z-index: -1;
              border-radius: 30px;
          }

          @include pad() {
              display: none;
          }

          .web_map_item {
              margin: 0.5rem 2rem;
              text-align: center;
              display: flex;

              .web_map_title {
                  width: 114px;
                  text-align: start;
                  position: relative;
                  z-index: 0;

                  &::before {
                      content: '';
                      position: absolute;
                      width: 15px;
                      height: 15px;
                      background-color: $title_ball_bg;
                      top: 7px;
                      left: 5px;
                      border-radius: 20px;
                      z-index: -1;
                  }
              }

              li {
                  padding: 0.5rem 1rem;
                  color: $text_color_w;
                  transition: $transition_5ms;
                  font-size: $text_size-16px;
              }

              a:hover li {
                  background-color: $title_ball_bg;
              }
          }
      }

      .footer_logo {
          margin-bottom: -19rem;

          @include pad() {
              display: none;
          }
      }
  }

  .copyright_section {
      display: flex;
      height: 70px;
      justify-content: center;
      align-items: center;

      @include phone(){
          flex-direction: column-reverse;
          height: 70px;
      }

      div {
          color: $text_color_w;
          margin-right: 3rem;

          @include phone() {
              font-size: 14px;
              margin-right: 1rem;
          }
      }
  }
}
