@import "./public.scss";
body {
    width: 100%;
    height: 100vh;
  }

#form {
    width: 100%;
    height: 1034px;
    background-image: url(../img/register.jpg);
    background-size: cover;

    .form_title {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        .tittle {
          color: $text_color_w;
          @include tittle();
          font-size: $text_size-32px;
          .tittle_ball {
            @include title_ball();
          }
        }
  }
}