@import "./public.scss";

body {
  width: 100%;
  height: 100vh;
}
#forget_pw {
  width: 100%;
  height: 770px;
  background-image: url(/img/forget_password.jpg);
  background-size: cover;
  background-position: center;
  //   background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  .form_outs {
    flex-wrap: wrap;
    width: 400px;
    height: 370px;
    background-color: #fff;
    border-radius: 50px;
  }
  .form_title {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    .tittle {
      color: $text_color_g;
      @include tittle();
      font-size: $text_size-32px;
      //沒帶入規範
      .tittle_ball {
        @include title_ball();
      }
    }
  }
  #forget_form input{
    border-radius: 40px;
    border: none;
    background-color: rgba(84, 84, 84, 0.3);
    backdrop-filter: blur(5px);
    height: 28px;
    width: 100%;
    }

  
  form {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    color:$text_color_g;
    button {
      margin-top: 2rem;
      border-radius: 50px;
      outline: none;
      background-color:$text_color_g;
      padding: 0.2rem 0;
      width: 100%;
      height: 38px;
      font-size: $text_size-18px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    button span{
      color: $text_color_w;
    }
  }
}

/* 頁尾區*/
footer {
  text-align: center;
  background-color:$web_bg;
  color:$text_color_g;
}

/* #forget_form {
    width: 35%;
    display: block;
	width: 400;
	box-sizing: border-box;
	border-radius: 40px;
} */

/*提示文字顏色,沒指定階層是改整個網頁*/
// ::placeholder {
// 	color: rgb(216, 129, 85);
// 	font-size: .8rem;
// }
// }
