@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.go_top {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.3s;
}
.go_top:hover {
  background-color: #289DD2;
}
.go_top:active {
  transform: translateY(-10px);
}
.go_top:hover > img {
  animation: go_top 0.8s infinite alternate;
}
@keyframes go_top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

#fixedTop {
  padding: 15px 13px 8px 13px;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 99;
  display: none;
}

header {
  width: 100%;
  height: 110px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  margin-left: 1rem;
}
@media (max-width: 576px) {
  header #logo img {
    width: 100px;
  }
}
header #nav_bar ul {
  display: flex;
  margin-right: 1.5rem;
}
header #nav_bar ul .nav_bar_item {
  position: relative;
  padding: 1rem;
  color: #545454;
  cursor: pointer;
}
header #nav_bar ul .nav_bar_item a {
  color: #545454;
}
header #nav_bar ul .nav_bar_item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: -1px;
  width: 0%;
  height: 2px;
  background-color: #545454;
  transition: width 0.5s ease-in-out;
}
header #nav_bar ul .nav_bar_item:hover::after {
  width: 100%;
}
header #nav_bar ul .nav_bar_item:hover > .drop_nav_bar {
  display: block;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar {
  display: none;
  width: 100%;
  text-align: center;
  background-color: #545454;
  position: absolute;
  margin-top: 1rem;
  left: 0;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item {
  padding: 0.5rem;
  transition: all 0.3s;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item a {
  color: #FFFFFF;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item:hover {
  background-color: #289DD2;
}

footer {
  background-color: #545454;
  width: 100%;
}
footer .footer_web_map {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  footer .footer_web_map {
    flex-direction: column;
  }
  footer .footer_web_map .web_map_item {
    display: flex;
  }
}
@media (max-width: 576px) {
  footer .footer_web_map {
    display: none;
  }
}
footer .footer_web_map .web_map_item {
  margin: 0.5rem 2rem;
  text-align: center;
}
footer .footer_web_map .web_map_item .web_map_title {
  font-size: 18px;
}
footer .footer_web_map .web_map_item li {
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  transition: all 0.5s;
}
footer .footer_web_map .web_map_item a:hover li {
  background-color: #289DD2;
}
footer .logo {
  text-align: end;
  margin-right: 2rem;
}
@media (max-width: 576px) {
  footer .logo {
    text-align: center;
    margin: 0;
  }
  footer .logo img {
    width: 150px;
  }
}
footer .logo div {
  color: #FFFFFF;
}
@media (max-width: 576px) {
  footer .logo div {
    font-size: 14px;
  }
}
footer .logo .copyright {
  padding-bottom: 1rem;
}

section {
  width: 100%;
}

* {
  color: #545454;
}

#video_section {
  position: relative;
  height: 100vh;
  z-index: -1;
}
@media (max-width: 992px) {
  #video_section {
    height: 60vh;
  }
}
@media (max-width: 576px) {
  #video_section {
    height: 40vh;
  }
}
#video_section video {
  height: 80vh;
  position: absolute;
  top: 8%;
  right: 2%;
  z-index: -1;
  border-radius: 15px;
}
@media (max-width: 1440px) {
  #video_section video {
    height: 70vh;
  }
}
@media (max-width: 992px) {
  #video_section video {
    width: 90%;
    top: -15%;
    right: 5%;
  }
}
@media (max-width: 576px) {
  #video_section video {
    top: -40%;
  }
}
#video_section .g_box {
  width: 50%;
  height: 30%;
  background-color: rgba(84, 84, 84, 0.75);
  position: absolute;
  top: 62%;
  left: 12%;
  z-index: -2;
}
@media (max-width: 1440px) {
  #video_section .g_box {
    width: 40%;
    height: 20%;
    top: 65%;
    left: 12%;
  }
}
@media (max-width: 992px) {
  #video_section .g_box {
    display: none;
  }
}
#video_section .b_box {
  width: 25%;
  height: 75%;
  background-color: rgba(40, 156, 210, 0.7254901961);
  position: absolute;
  top: 10%;
  left: 9%;
  z-index: -3;
}
@media (max-width: 1440px) {
  #video_section .b_box {
    width: 20%;
    height: 60%;
    top: 10%;
    left: 9%;
  }
}
@media (max-width: 992px) {
  #video_section .b_box {
    display: none;
  }
}
#video_section .video_section_text_1,
#video_section .video_section_text_2 {
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
}
@media (max-width: 576px) {
  #video_section .video_section_text_1,
  #video_section .video_section_text_2 {
    font-size: 18px;
  }
}
#video_section .video_section_text_1 {
  top: 15%;
  left: 15%;
}
@media (max-width: 1440px) {
  #video_section .video_section_text_1 {
    top: 15%;
    left: 10%;
  }
}
#video_section .video_section_text_2 {
  top: 25%;
  left: 19.5%;
}
@media (max-width: 1440px) {
  #video_section .video_section_text_2 {
    top: 25%;
    left: 15%;
  }
}

#about_me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}
@media (max-width: 992px) {
  #about_me {
    flex-direction: column;
    justify-content: start;
  }
}
@media (max-width: 576px) {
  #about_me {
    height: 70vh;
  }
}
#about_me .about_me_text {
  width: 400px;
  height: 300px;
  margin-left: -5rem;
}
@media (max-width: 992px) {
  #about_me .about_me_text {
    margin-top: 2rem;
    width: 300px;
    height: 410px;
  }
}
@media (max-width: 576px) {
  #about_me .about_me_text {
    margin: auto;
    width: 300px;
    height: 300px;
  }
}
#about_me .about_me_text .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
}
#about_me .about_me_text .tittle div {
  font-weight: 700;
}
@media (max-width: 576px) {
  #about_me .about_me_text .tittle {
    font-size: 18px;
  }
}
#about_me .about_me_text .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}
@media (max-width: 576px) {
  #about_me .about_me_text .tittle .tittle_ball {
    width: 20px;
    height: 20px;
    left: -10px;
  }
}
#about_me .about_me_text p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media (max-width: 576px) {
  #about_me .about_me_text p {
    font-size: 14px;
  }
}
#about_me .about_me_text .more {
  width: 75px;
  height: 25px;
  background-color: #289DD2;
  color: #FFFFFF;
  text-align: center;
  line-height: 25px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: auto;
}
#about_me .about_me_img {
  position: relative;
  right: 10%;
  top: -12%;
}
#about_me .about_me_img .img_1 {
  border-radius: 0 150px 0 0;
  position: absolute;
  top: -200px;
  left: -20px;
  opacity: 0.7;
  z-index: -3;
}
@media (max-width: 1440px) {
  #about_me .about_me_img .img_1 {
    width: 350px;
    top: -120px;
  }
}
@media (max-width: 992px) {
  #about_me .about_me_img .img_1 {
    width: 250px;
    top: -30px;
    left: 30px;
  }
}
@media (max-width: 576px) {
  #about_me .about_me_img .img_1 {
    display: none;
  }
}
#about_me .about_me_img .img_2 {
  border-radius: 0 0 0 150px;
  position: absolute;
  top: -100px;
  left: -450px;
  opacity: 0.75;
  z-index: -2;
}
@media (max-width: 1440px) {
  #about_me .about_me_img .img_2 {
    width: 365px;
    height: 260px;
    top: -90px;
    left: -350px;
  }
}
@media (max-width: 992px) {
  #about_me .about_me_img .img_2 {
    width: 265px;
    height: 160px;
    top: 30px;
    left: -200px;
  }
}
@media (max-width: 576px) {
  #about_me .about_me_img .img_2 {
    top: -180px;
    left: -100px;
  }
}
#about_me .about_me_img .img_3 {
  border-radius: 0 0 195px 0;
  position: absolute;
  top: 50px;
  left: -50px;
  opacity: 0.9;
  z-index: -1;
}
@media (max-width: 1440px) {
  #about_me .about_me_img .img_3 {
    width: 400px;
  }
}
@media (max-width: 992px) {
  #about_me .about_me_img .img_3 {
    width: 300px;
    top: 100px;
    left: 10px;
  }
}
@media (max-width: 576px) {
  #about_me .about_me_img .img_3 {
    display: none;
  }
}

#attractions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#attractions .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
  margin-left: -80%;
}
#attractions .tittle div {
  font-weight: 700;
}
@media (max-width: 992px) {
  #attractions .tittle {
    margin-left: -70%;
  }
}
@media (max-width: 576px) {
  #attractions .tittle {
    font-size: 18px;
    margin-left: -60%;
  }
}
#attractions .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}
@media (max-width: 576px) {
  #attractions .tittle .tittle_ball {
    width: 20px;
    height: 20px;
    left: -10px;
  }
}
#attractions .attractions_item {
  width: 70%;
  height: 250px;
  transition: 0.5s;
  position: relative;
}
@media (max-width: 1440px) {
  #attractions .attractions_item {
    width: 80%;
    height: 180px;
  }
}
#attractions .attractions_item:hover {
  filter: brightness(70%);
}
#attractions .attractions_item .img_Taitung {
  background-image: url(../img/DJI_0219.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#attractions .attractions_item .img_Hualien {
  background-image: url(../img/DJI_0317.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#attractions .attractions_item .img_Nantou {
  background-image: url(../img/DJI_0150.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#attractions .attractions_item .box_2 {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}
#attractions .attractions_item .box_2 .box_3 {
  width: 200px;
  height: 250px;
  background-color: #f5f5f5;
}
@media (max-width: 1440px) {
  #attractions .attractions_item .box_2 .box_3 {
    height: 180px;
  }
}
@media (max-width: 992px) {
  #attractions .attractions_item .box_2 .box_3 {
    width: 180px;
  }
}
@media (max-width: 576px) {
  #attractions .attractions_item .box_2 .box_3 {
    width: 100%;
    height: 100px;
    background-color: rgba(245, 245, 245, 0.5490196078);
  }
}
#attractions .attractions_item .box_2 .box_4 {
  width: 0;
  height: 0;
  border-top: 250px solid rgba(150, 22, 22, 0);
  border-left: 200px solid #f5f5f5;
}
@media (max-width: 1440px) {
  #attractions .attractions_item .box_2 .box_4 {
    border-top: 180px solid rgba(150, 22, 22, 0);
    border-left: 130px solid #f5f5f5;
  }
}
@media (max-width: 992px) {
  #attractions .attractions_item .box_2 .box_4 {
    border-top: 0px;
    border-left: 0px;
  }
}
#attractions .attractions_item p {
  position: absolute;
  top: 75px;
  left: 50px;
  margin: 0;
  color: #545454;
  font-size: 45px;
  font-weight: bold;
}
@media (max-width: 1440px) {
  #attractions .attractions_item p {
    top: 40px;
    left: 35px;
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  #attractions .attractions_item p {
    left: 20px;
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  #attractions .attractions_item p {
    top: 10px;
    left: 5%;
    font-size: 28px;
  }
}
#attractions .item_1 {
  margin-left: -400px;
}
@media (max-width: 1440px) {
  #attractions .item_1 {
    margin-left: -230px;
  }
}
@media (max-width: 992px) {
  #attractions .item_1 {
    margin-left: 0;
  }
}
#attractions .item_3 {
  margin-left: 400px;
}
@media (max-width: 1440px) {
  #attractions .item_3 {
    margin-left: 230px;
  }
}
@media (max-width: 992px) {
  #attractions .item_3 {
    margin-left: 0;
  }
}

#news {
  margin: 5rem auto;
  width: 75%;
}
#news .news_img {
  background-image: url(../img/DJI_0279.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 45vh;
  position: relative;
}
@media (max-width: 576px) {
  #news .news_img {
    height: 30vh;
  }
}
#news .news_img .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
  position: absolute;
  top: 1rem;
  left: 2rem;
}
#news .news_img .tittle div {
  font-weight: 700;
}
@media (max-width: 576px) {
  #news .news_img .tittle {
    font-size: 18px;
  }
}
#news .news_img .tittle div {
  color: #FFFFFF;
}
#news .news_img .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}
@media (max-width: 576px) {
  #news .news_img .tittle .tittle_ball {
    width: 20px;
    height: 20px;
    left: -10px;
  }
}
#news .news_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 992px) {
  #news .news_section {
    flex-direction: column;
  }
}
#news .news_section .news_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (max-width: 992px) {
  #news .news_section .news_box {
    grid-template-columns: repeat(1, 1fr);
  }
  #news .news_section .news_box .news_item:last-child {
    display: none;
  }
}
@media (max-width: 576px) {
  #news .news_section .news_box {
    width: 100%;
  }
}
#news .news_section .news_box .news_item {
  width: 450px;
  transition: all 0.5s;
}
@media (max-width: 576px) {
  #news .news_section .news_box .news_item {
    width: 100%;
  }
}
#news .news_section .news_box .news_item:hover .news_title > .news_title_img {
  animation: news_move 0.5s infinite alternate;
  background-image: url(../img/hand-right_w.svg);
}
@keyframes news_move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}
#news .news_section .news_box .news_item:hover {
  background-color: rgba(54, 54, 54, 0.4);
}
#news .news_section .news_box .news_item:hover:hover div {
  color: #FFFFFF;
}
#news .news_section .news_box .news_item .news_date {
  display: flex;
  padding: 0.5rem;
}
@media (max-width: 576px) {
  #news .news_section .news_box .news_item .news_date {
    font-size: 14px;
  }
}
#news .news_section .news_box .news_item .news_date div {
  line-height: 35px;
}
#news .news_section .news_box .news_item .news_date .reserve_btn {
  width: 75px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 15px;
  color: #FFFFFF;
  text-align: center;
  margin-right: 2rem;
}
#news .news_section .news_box .news_item .news_title {
  display: flex;
  margin: 0.5rem 0.5rem 0 0.5rem;
  border-bottom: 1px dashed #545454;
}
#news .news_section .news_box .news_item .news_title div {
  font-size: 18px;
}
@media (max-width: 576px) {
  #news .news_section .news_box .news_item .news_title div {
    font-size: 14px;
  }
}
#news .news_section .news_box .news_item .news_title .news_title_img {
  background-image: url(../img/hand-right.svg);
  background-size: cover;
  width: 26px;
  height: 26px;
  margin-left: 10rem;
}
@media (max-width: 576px) {
  #news .news_section .news_box .news_item .news_title .news_title_img {
    width: 16px;
    height: 16px;
    margin-left: 3rem;
  }
}
#news .news_section .news_btn .more {
  color: #FFFFFF;
  font-size: 18px;
  background-color: #289DD2;
  width: 110px;
  height: 80px;
  border-radius: 15px;
  text-align: center;
  line-height: 80px;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  #news .news_section .news_btn .more {
    margin-top: 2rem;
  }
}
#news .news_section .news_btn .more:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

#reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reserve .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
  margin: 1.5rem 0 1.5rem -65rem;
}
#reserve .tittle div {
  font-weight: 700;
}
@media (max-width: 992px) {
  #reserve .tittle {
    margin: 1.5rem 0 1.5rem -40rem;
  }
}
@media (max-width: 576px) {
  #reserve .tittle {
    font-size: 18px;
    margin: 1.5rem 0 1.5rem -10rem;
  }
}
#reserve .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}
@media (max-width: 576px) {
  #reserve .tittle .tittle_ball {
    width: 20px;
    height: 20px;
    left: -10px;
  }
}
#reserve .reserve_section {
  display: flex;
  margin-bottom: 5rem;
}
@media (max-width: 1440px) {
  #reserve .reserve_section {
    width: 75%;
  }
}
@media (max-width: 992px) {
  #reserve .reserve_section {
    flex-direction: column;
  }
}
#reserve .reserve_section .reserve_img {
  background-image: url(../img/DJI_0054.jpg);
  background-position: center;
  background-size: cover;
  width: 670px;
  height: 630px;
  border-radius: 15px 0 0 15px;
}
@media (max-width: 992px) {
  #reserve .reserve_section .reserve_img {
    width: 100%;
    height: 40vh;
    border-radius: 15px 15px 0 0;
  }
}
#reserve .reserve_section .reserve_box .item_1 {
  border-radius: 0 15px 0 0;
}
@media (max-width: 992px) {
  #reserve .reserve_section .reserve_box .item_1 {
    border-radius: 0;
  }
}
#reserve .reserve_section .reserve_box .item_2 {
  border-radius: 0 0 15px 0;
}
@media (max-width: 992px) {
  #reserve .reserve_section .reserve_box .item_2 {
    border-radius: 0 0 15px 15px;
  }
}
#reserve .reserve_section .reserve_box .reserve_item {
  background-color: rgba(0, 0, 0, 0.7);
  width: 630px;
  height: 210px;
}
@media (max-width: 992px) {
  #reserve .reserve_section .reserve_box .reserve_item {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #reserve .reserve_section .reserve_box .reserve_item .reserve_item_img {
    display: none;
  }
}
#reserve .reserve_section .reserve_box .reserve_item .reserve_item_img > img {
  border-radius: 15px;
}
#reserve .reserve_section .reserve_box .reserve_item:hover .reserve_item_box img {
  transform: translateX(255px);
}
@media (max-width: 576px) {
  #reserve .reserve_section .reserve_box .reserve_item:hover .reserve_item_box img {
    transform: translateX(230px);
  }
}
#reserve .reserve_section .reserve_box .reserve_item a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
#reserve .reserve_section .reserve_box .reserve_item a .reserve_item_box div {
  color: #FFFFFF;
  font-size: 18px;
  padding: 0.5rem;
}
@media (max-width: 576px) {
  #reserve .reserve_section .reserve_box .reserve_item a .reserve_item_box div {
    font-size: 14px;
  }
}
#reserve .reserve_section .reserve_box .reserve_item a .reserve_item_box .reserve_item_btn {
  display: flex;
}
#reserve .reserve_section .reserve_box .reserve_item a .reserve_item_box .reserve_item_btn img {
  transition: all 0.5s;
  z-index: 1;
}
@media (max-width: 576px) {
  #reserve .reserve_section .reserve_box .reserve_item a .reserve_item_box .reserve_item_btn img {
    width: 30px;
  }
}
#reserve .reserve_section .reserve_box .reserve_item a .reserve_item_box .reserve_item_btn div {
  width: 170px;
  height: 40px;
  background-color: #289DD2;
  border-radius: 15px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  margin-left: 1.5rem;
  z-index: 2;
}
@media (max-width: 576px) {
  #reserve .reserve_section .reserve_box .reserve_item a .reserve_item_box .reserve_item_btn div {
    width: 150px;
  }
}/*# sourceMappingURL=index.css.map */