@import "./public.scss";

section {
    width: 100%;
}


* {
    color: $text_color_g;
}

#video_section {
    padding-top: 3rem;
    height: calc(100vh - 110px);
    z-index: -1;

    @include pad() {
        padding-top: 0;
    }

    video {
        width: 70%;
        position: relative;
        top: 0;
        right: -28%;
        z-index: -1;
        border-radius: 15px;

        @include pad() {
            top: 0;
            left: 0;
            border-radius: 0;
            width: 100%;
            height: calc(100vh - 110px);
            object-fit: cover;
        }
    }

    .g_box {
        width: 50%;
        height: 30%;
        background-color: rgba(84, 84, 84, 0.75);
        position: absolute;
        top: 68%;
        left: 12%;
        z-index: -2;

        @include pc() {
            width: 40%;
            height: 20%;
            top: 55%;
            left: 12%;
        }

        @include pad() {
            display: none;
        }
    }

    .b_box {
        width: 25%;
        height: 75%;
        background-color: #289cd2b9;
        position: absolute;
        top: 10%;
        left: 9%;
        z-index: -3;

        @include pc() {
            width: 20%;
            height: 60%;
            top: 10%;
            left: 9%;
        }

        @include pad() {
            display: none;
        }
    }

    .video_section_text_1,
    .video_section_text_2 {
        font: {
            size: $text_size-48px;
            weight: $text_weight-b;
        }

        @include phone() {
            font-size: $text_size-32px;
        }

        color: $text_color_w;
        position: absolute;
    }

    .video_section_text_1 {
        top: 25%;
        left: 15%;
    }

    .video_section_text_2 {
        top: 35%;
        left: 19.5%;
    }
}

#about_me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;

    @include pad() {
        flex-direction: column;
        justify-content: start;
    }

    @include phone() {
        height: 70vh;
    }

    .about_me_text {
        width: 400px;
        height: 300px;
        margin-left: -5rem;

        @include pad() {
            margin-top: 2rem;
            width: 300px;
            height: 410px;
        }

        @include phone() {
            margin: auto;
            width: 300px;
            height: 300px;
        }

        .tittle {
            @include tittle();

            @include phone() {
                font-size: $text_size-28px;
            }

            .tittle_ball {
                @include title_ball();

                @include phone() {
                    width: 20px;
                    height: 20px;
                    left: -10px;
                }
            }
        }

        p {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;

            @include phone() {
                font-size: 14px;
            }
        }

        .more {
            width: 75px;
            height: 25px;
            background-color: $btn_bg;
            color: $text_color_w;
            text-align: center;
            line-height: 25px;
            border-radius: 15px;
            cursor: pointer;
            margin-left: auto;
        }
    }

    .about_me_img {
        position: relative;
        right: 10%;
        top: -12%;

        .img_1 {
            border-radius: 0 150px 0 0;
            position: absolute;
            top: -200px;
            left: -20px;
            opacity: 0.7;
            z-index: -3;

            @include pc() {
                width: 350px;
                top: -120px;
            }

            @include pad() {
                width: 250px;
                top: -30px;
                left: 30px;
            }

            @include phone() {
                display: none;
            }
        }

        .img_2 {
            border-radius: 0 0 0 150px;
            position: absolute;
            top: -100px;
            left: -450px;
            opacity: 0.75;
            z-index: -2;

            @include pc() {
                width: 365px;
                height: 260px;
                top: -90px;
                left: -350px;
            }

            @include pad() {
                width: 265px;
                height: 160px;
                top: 30px;
                left: -200px;
            }

            @include phone() {
                top: -180px;
                left: -100px;
            }
        }

        .img_3 {
            border-radius: 0 0 195px 0;
            position: absolute;
            top: 50px;
            left: -50px;
            opacity: 0.9;
            z-index: -1;

            @include pc() {
                width: 400px;
            }

            @include pad() {
                width: 300px;
                top: 100px;
                left: 10px;
            }

            @include phone() {
                display: none;
            }
        }
    }

}

#attractions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .tittle {
        @include tittle();
        margin-left: -70%;

        @include pad() {
            margin-left: -55%;
        }

        @include phone() {
            font-size: $text_size-28px;
            margin-left: -50%;
        }

        .tittle_ball {
            @include title_ball();

            @include phone() {
                width: 20px;
                height: 20px;
                left: -10px;
            }
        }
    }

    .attractions_item {
        width: 70%;
        height: 250px;
        transition: .5s;
        position: relative;

        @include pc() {
            width: 80%;
            height: 180px;
        }

        &:hover {
            filter: brightness(70%);
        }

        .img_Taitung {
            background-image: url(../img/DJI_0219.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

        .img_Hualien {
            background-image: url(../img/DJI_0317.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

        .img_Nantou {
            background-image: url(../img/DJI_0150.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

        .box_2 {
            display: flex;
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;

            .box_3 {
                width: 200px;
                height: 250px;
                background-color: #f5f5f5;

                @include pc() {
                    height: 180px;
                }

                @include pad() {
                    width: 180px;
                }

                @include phone() {
                    width: 100%;
                    height: 100px;
                    background-color: #f5f5f58c;
                }
            }

            .box_4 {
                width: 0;
                height: 0;
                border-top: 250px solid #96161600;
                border-left: 200px solid #f5f5f5;

                @include pc() {
                    border-top: 180px solid #96161600;
                    border-left: 130px solid #f5f5f5;
                }

                @include pad() {
                    border-top: 0px;
                    border-left: 0px;
                }
            }
        }

        p {
            position: absolute;
            top: 75px;
            left: 50px;
            margin: 0;
            color: $text_color_g;

            @include pc() {
                top: 40px;
                left: 35px;
                font-size: $text_size-32px;
            }

            @include pad() {
                left: 20px;
                font-size: $text_size-28px;
            }

            @include phone() {
                top: 10px;
                left: 5%;
                font-size: $text_size-28px;
            }

            font: {
                size: 45px;
                weight: bold;
            }
        }
    }

    .item_1 {
        margin-left: -400px;

        @include pc() {
            margin-left: -230px;
        }

        @include pad() {
            margin-left: 0;
        }
    }

    .item_3 {
        margin-left: 400px;

        @include pc() {
            margin-left: 230px;
        }

        @include pad() {
            margin-left: 0;
        }
    }
}

#news {
    margin: 5rem 0;

    .tittle {
        @include tittle();
        margin: 1.5rem 0 1.5rem 0rem;
        transform: translateX(300px);
        width: 300px;

        @include pc() {
            margin: 1.5rem 0 1.5rem -10rem;
        }

        @include phone() {
            font-size: $text_size-28px;
            margin: 1.5rem 0 1.5rem -15rem;
        }

        .tittle_ball {
            @include title_ball();

            @include phone() {
                width: 20px;
                height: 20px;
                left: -10px;
            }
        }
    }
}

#reserve {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tittle {
        @include tittle();
        margin: 1.5rem 0 1.5rem -68rem;

        @include pc() {
            margin: 1.5rem 0 1.5rem -55rem;
        }

        @include pad() {
            margin: 1.5rem 0 1.5rem -40rem;
        }

        @include pad2() {
            margin: 1.5rem 0 1.5rem -20rem;
        }

        @include phone() {
            font-size: $text_size-28px;
            margin: 1.5rem 0 1.5rem -10rem;
        }

        .tittle_ball {
            @include title_ball();

            @include phone() {
                width: 20px;
                height: 20px;
                left: -10px;
            }
        }
    }

    .reserve_section {
        display: flex;
        margin-bottom: 5rem;

        @include pc() {
            width: 75%;
        }

        @include pad() {
            flex-direction: column;
        }

        .reserve_img {
            background-image: url(../img/DJI_0054.jpg);
            background-position: center;
            background-size: cover;
            width: 670px;
            height: 630px;
            border-radius: 15px 0 0 15px;

            @include pad() {
                width: 100%;
                height: 40vh;
                border-radius: 15px 15px 0 0;
            }
        }

        .reserve_box {

            .item_1 {
                border-radius: 0 15px 0 0;

                @include pad() {
                    border-radius: 0;
                }
            }

            .item_2 {
                border-radius: 0 0 15px 0;

                @include pad() {
                    border-radius: 0 0 15px 15px;
                }
            }

            .reserve_item {
                background-color: rgba(0, 0, 0, 0.7);
                width: 630px;
                height: 210px;

                @include pad() {
                    width: 100%;
                }

                .reserve_item_img {
                    @include phone() {
                        display: none;
                    }
                }

                .reserve_item_img>img {
                    border-radius: 15px;
                }

                &:hover .reserve_item_box img {
                    transform: translateX(255px);

                    @include phone() {
                        transform: translateX(230px);
                    }
                }

                a {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    .reserve_item_box {
                        div {
                            color: $text_color_w;
                            font-size: $text_size-18px;
                            padding: 0.5rem;

                            @include phone() {
                                font-size: 14px;
                            }
                        }

                        .reserve_item_btn {
                            display: flex;

                            img {
                                transition: $transition_5ms;
                                z-index: 1;

                                @include phone() {
                                    width: 30px;
                                }
                            }

                            div {
                                width: 170px;
                                height: 40px;
                                background-color: $btn_bg;
                                border-radius: 15px;
                                text-align: center;
                                line-height: 40px;
                                padding: 0;
                                margin-left: 1.5rem;
                                z-index: 2;

                                @include phone() {
                                    width: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}