@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.go_top {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.3s;
}
.go_top:hover {
  background-color: #289DD2;
}
.go_top:active {
  transform: translateY(-10px);
}
.go_top:hover > img {
  animation: go_top 0.8s infinite alternate;
}
@keyframes go_top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

#fixedTop {
  padding: 15px 13px 8px 13px;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 99;
  display: none;
}

header {
  width: 100%;
  height: 110px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  margin-left: 1rem;
}
@media (max-width: 576px) {
  header #logo img {
    width: 100px;
  }
}
header #nav_bar ul {
  display: flex;
  margin-right: 1.5rem;
}
header #nav_bar ul .nav_bar_item {
  position: relative;
  padding: 1rem;
  color: #545454;
  cursor: pointer;
}
header #nav_bar ul .nav_bar_item a {
  color: #545454;
}
header #nav_bar ul .nav_bar_item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: -1px;
  width: 0%;
  height: 2px;
  background-color: #545454;
  transition: width 0.5s ease-in-out;
}
header #nav_bar ul .nav_bar_item:hover::after {
  width: 100%;
}
header #nav_bar ul .nav_bar_item:hover > .drop_nav_bar {
  display: block;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar {
  display: none;
  width: 100%;
  text-align: center;
  background-color: #545454;
  position: absolute;
  margin-top: 1rem;
  left: 0;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item {
  padding: 0.5rem;
  transition: all 0.3s;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item a {
  color: #FFFFFF;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item:hover {
  background-color: #289DD2;
}

footer {
  background-color: #545454;
  width: 100%;
}
footer .footer_web_map {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  footer .footer_web_map {
    flex-direction: column;
  }
  footer .footer_web_map .web_map_item {
    display: flex;
  }
}
@media (max-width: 576px) {
  footer .footer_web_map {
    display: none;
  }
}
footer .footer_web_map .web_map_item {
  margin: 0.5rem 2rem;
  text-align: center;
}
footer .footer_web_map .web_map_item .web_map_title {
  font-size: 18px;
}
footer .footer_web_map .web_map_item li {
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  transition: all 0.5s;
}
footer .footer_web_map .web_map_item a:hover li {
  background-color: #289DD2;
}
footer .logo {
  text-align: end;
  margin-right: 2rem;
}
@media (max-width: 576px) {
  footer .logo {
    text-align: center;
    margin: 0;
  }
  footer .logo img {
    width: 150px;
  }
}
footer .logo div {
  color: #FFFFFF;
}
@media (max-width: 576px) {
  footer .logo div {
    font-size: 14px;
  }
}
footer .logo .copyright {
  padding-bottom: 1rem;
}

* {
  padding: 0;
  margin: 0;
}

section {
  position: relative;
}
section .banner {
  background-image: url(./img/law-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
}
section .banner .law_title_top {
  padding: 5rem 7rem;
  line-height: 2rem;
}
section .banner .law_title_top h1,
section .banner .law_title_top p {
  color: #FFFFFF;
}
section .banner .law_title_top h1 {
  font-size: 48px;
}
section .banner .law_title_top p {
  margin-top: 2rem;
  font-size: 32px;
}
section .middle_text {
  position: absolute;
  width: 80%;
  top: 18rem;
  left: 10%;
  background-image: url(./img/伯朗.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  border-radius: 15px;
}
section .middle_text .incul {
  width: 80%;
  line-height: 25px;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: 10%;
}

section .law_title_mix {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
}
section .law_title_mix .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
  font-size: 40px;
}
section .law_title_mix .tittle div {
  font-weight: 700;
}
section .law_title_mix .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}
section .box_touch {
  height: 60vh;
  width: 70%;
  display: flex;
  margin: 2rem auto;
  position: relative;
}
section .box_touch .box_img {
  width: 660px;
  height: 500px;
}
section .box_touch .list_outs {
  width: 830px;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 3rem;
  top: 2.5rem;
}
section .box_touch .list_outs .list {
  width: 600px;
  background-color: hsla(0, 0%, 0%, 0.7);
  padding: 1rem 1.5rem;
  border-radius: 15px;
  color: #FFFFFF;
}
section .box_touch .list_outs .list_b {
  margin-left: 60px;
}
section .box_touch .list_outs .list_c {
  margin-left: 120px;
}
section .box_touch .list_outs .list_d {
  margin-left: 180px;
}
section .box_touch .list_outs .list_e {
  margin-left: 240px;
}

section .limit_h {
  width: 70%;
  margin: 5rem auto;
  display: flex;
}
section .limit_h .left_box {
  margin-top: 5rem;
  width: 57%;
}
section .limit_h .left_box .tittle {
  font-size: 40px;
  margin: 0;
  z-index: 1;
  position: relative;
  font-size: 40px;
}
section .limit_h .left_box .tittle div {
  font-weight: 700;
}
section .limit_h .left_box .tittle .tittle_ball {
  width: 35px;
  height: 35px;
  background-color: #289DD2;
  border-radius: 30px;
  opacity: 0.8;
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
}
section .limit_h .left_box img {
  width: 800px;
  height: 350px;
  margin-top: 3rem;
}
section .limit_h .shadow_pic {
  width: 550px;
  height: 540px;
  position: relative;
}
section .limit_h .shadow_pic .shadow {
  background-image: url(./img/law_info模糊.png);
  width: 420px;
  height: 420px;
}
section .limit_h .shadow_pic img {
  position: absolute;
  width: 450px;
  height: 450px;
  right: 0;
  bottom: 0;
}/*# sourceMappingURL=law.css.map */