@import "./public.scss";
$raduis: 15px;

// banner
section {
  position: relative;
  .banner {
    width: 100%;
    height: 450px;
    background-image: url(../img/law-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .law_title {
      padding: 5rem 7rem;
      line-height: 2rem;
      h1,
      p {
        color: $text_color_w;
      }
      h1 {
        font-size: $text_size-48px;
      }
      p {
        margin-top: 2rem;
        font-size: $text_size-32px;
      }
    }
  }

  .text {
    position: absolute;
    top: 22rem;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    background-image: url(../img/伯朗.jpg);
    height: 350px;
    border-radius: 15px;

    p {
      color: $text_color_w;
      padding: 5rem;
      line-height: 2rem;
      font-size: 16px;
    }
  }
}

// title
.text_t {
  width: 210px;
  margin: 20rem auto -1.5rem;

  .tittle {
    @include tittle();
    font-size: $text_size-40px;

    .tittle_ball {
      @include title_ball();
    }
  }
}
// 易觸犯規範外框
#contain {
  height: 60vh;
  margin: 4rem auto;
  width: 40%;

  .effect_box {
    height: 100%;
    display: flex;
    //移動列
    .move {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .move_box1,
      .move_box2,
      .move_box3,
      .move_box4,
      .move_box5 {
        width: 170px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-radius: 15px;
        position: relative;
        top: 0;
        left: 0;
        transition: 0.5s ease-out;
        background-color: #289dd2;
        &:hover {
          cursor: pointer;
          transform: translateX(-40px);
        }
        span {
          color: #fff;
        }
      }
    }
  }

  // 隱藏列
  .move_box1:hover ::after {
    content: "飛航高度超過限高區200呎(60公尺):30~150萬，以起飛地的海拔開始計算，無人機往上飛不得超過60公尺";
    position: absolute;
    top: -3px;
    left: 195px;
    width: 300px;
    height: 100px;
    background-color: hsla(0, 0, 0, 0.5);
    color: #fff;
    line-height: 1.2rem;
    text-align: left;
    padding: 0.7rem 2.3rem;
    border-radius: 15px;
  }
  .move_box2:hover ::after {
    content: "飛航高度超過限高區400呎(120公尺):30~150萬，以起飛地的海拔開始計算，無人機往上飛不得超過120公尺";
    position: absolute;
    top: -3px;
    left: 195px;
    width: 300px;
    height: 100px;
    background-color: hsla(0, 0, 0, 0.5);
    color: #fff;
    line-height: 1.2rem;
    text-align: left;
    padding: 0.7rem 2.3rem;
    border-radius: 15px;
  }
  .move_box3:hover ::after {
    content: "人群及集會上方操作空拍機:6萬，在人群及集會遊行上方等場所，未申請操作空拍機將開罰。";
    position: absolute;
    top: -3px;
    left: 195px;
    width: 300px;
    height: 100px;
    background-color: hsla(0, 0, 0, 0.5);
    color: #fff;
    line-height: 1.2rem;
    text-align: left;
    padding: 0.7rem 2.3rem;
    border-radius: 15px;
  }
  .move_box4:hover ::after {
    content: "無人機沒註冊：3~15 萬，250g以上無人機都需要至民航局網站註冊，立即註冊立即使用。";
    position: absolute;
    top: -3px;
    left: 195px;
    width: 300px;
    height: 100px;
    background-color: hsla(0, 0, 0, 0.5);
    color: #fff;
    line-height: 1.2rem;
    text-align: left;
    padding: 0.7rem 2.3rem;
    border-radius: 15px;
  }
  .move_box5:hover ::after {
    content: "在非規定時間飛行：6萬，未經申請在日落後及日出前進行空拍活動將開罰。";
    position: absolute;
    top: -3px;
    left: 195px;
    width: 300px;
    height: 100px;
    background-color: hsla(0, 0, 0, 0.5);
    color: #fff;
    line-height: 1.2rem;
    text-align: left;
    padding: 1.4rem 2.3rem;
    border-radius: 15px;
  }
  //圖片
  .img_bg {
    // border: 5px solid rgb(220, 161, 243);
    width: 58vh;
    height: 100%;
    background-image: url(../img/law_glass.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 210px;
  }
}

.left_box {
  margin-top: 5rem;
  width: 57%;
  position: relative;
  .tittle {
    @include tittle();
    font-size: $text_size-40px;

    .tittle_ball {
      @include title_ball();
    }
  }
  .text_box {
    position: relative;
    margin-top: 4rem;
    p {
      position: absolute;
      color: white;
      padding: 3em;
      line-height: 2rem;
      margin-top: 3rem;
    }
    // 限高照片
    img {
      width: 105%;
      height: 350px;
      border-radius: 15px;
    }
  }
}
//限高區域
#limit {
  height: 82vh;
  .limit_h {
    width: 70%;
    margin: 3.5vh auto;
    display: flex;

    // 左邊img & title
    // 右邊img &shadow
    .shadow_pic {
      width: 550px;
      height: 540px;
      position: relative;
      .shadow {
        background-image: url(../img/law_infoVague.png);
        width: 420px;
        height: 420px;
      }
      // info
      img {
        position: absolute;
        width: 450px;
        height: 450px;
        right: 0;
        bottom: 0;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
          7px 7px 20px 0px rgba(0, 0, 0, 0.3),
          4px 4px 7px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

// 綠黃紅灰區
#block {
  margin-top: -10rem;
}

//註冊
#register {
  height: 70vh;
  .register_t {
    width: 70%;
    margin: 2rem auto;
    .tittle {
      @include tittle();
      .tittle_ball {
        @include title_ball();
      }
    }
  }

  .text_pic {
    width: 55%;
    height: 470px;
    margin: 2rem auto;
    position: relative;

    .text_bor {
      width: 600px;
      height: 250px;
      background-color: hsla(0, 0%, 0%, 0.5);
      border-radius: 15px;
      display: flex;
      align-items: center;
      backdrop-filter: blur(10px);
      .text_ins {
        padding: 3rem;
        p {
          margin-bottom: 1.5rem;
          color: $text_color_w;
        }
      }
    }

    .pic_p {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      img {
        height: 300px;
        width: 600px;
        border-radius: 15px;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
          7px 7px 20px 0px rgba(0, 0, 0, 0.3),
          4px 4px 7px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

//考照相關
#license {
  height: 102vh;
  width: 70%;
  margin: 0 auto;
  background-image: url(../img/操作證-模糊.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
  //   title
  .license_t {
    .tittle {
      @include tittle();
      .tittle_ball {
        @include title_ball();
      }
    }
  }

  .container {
    width: 80%;
    // border: 3px solid red;
    margin: 3rem auto 0;
    .con_border {
      width: 50%;
      height: 228px;
      background-color: hsla(0, 0%, 0%, 0.6);
      padding: 3rem;
      border-radius: 15px;
      margin-left: 9rem;
      h4,
      p {
        font-size: 16px;
        color: white;
        line-height: 2rem;
      }
    }
    .dif {
      width: 500px;
      margin: 3rem 0 0 4rem;
    }
    .oper {
      position: absolute;
      z-index: 2;
      margin: -3rem 0 0 2rem;
      height: 580px;
      border-radius: 15px;
    }
  }
}

//安全飛行
.fly_pic {
  height: 500px;
  width: 100%;
  margin-top: 2rem;
  img {
    height: 500px;
    width: 100%;
  }
}
