@import "./public.scss";

body {
  width: 100%;
  height: 100vh;
}
#login {
  width: 100%;
  height: 82.5vh;
  background-image: url(../img/logoin.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .form_outs {
    width: 376px;
    height: 500px;
    background-color: $text_color_w;
    opacity: 0.9;
    border-radius: 50px;
    .form_title {
      margin: 3.5rem auto;
      display: flex;
      justify-content: center;
      .tittle {
        color: $text_color_g;
        @include tittle();
        font-size: $text_size-32px;
        .tittle_ball {
          @include title_ball();
        }
      }
    }
    #login_form {
      width: 80%;
      margin: 4rem auto;
      .la_in {
        margin: 2rem 0;
        label {
          font-size: 18px;
        }

        input {
          border-radius: 40px;
          border: none;
          background-color: rgba(84, 84, 84, 0.3);
          backdrop-filter: blur(5px);
          height: 30px;
          padding-left: 1.5rem;
          margin: 3px;
        }
      }
    }
    // 登入按鈕
    .btn_login {
      display: block;
      padding: 0.2rem 2rem;
      font-size: $text_size-18px;
      cursor: pointer;
      margin: 2rem auto;
      border-radius: 15px;
      border: none;
      background-color: #289dd2;
      color: white;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.137);
      }
    }
    .login_forget {
      display: flex;
      justify-content: space-between;
      width: 84%;
      margin: 2.5rem auto;
      span {
        padding-top: 5px;
      }
      .login,
      .forget {
        padding: 0.3rem 1rem;
        a {
          text-decoration: none;
          color: #545454;
          transition: 0.2s ease-in-out;
          &:hover {
            color: #289dd2;
          }
        }
      }
    }
  }
}
/* 頁尾區*/
footer {
  text-align: center;
  background-color: $web_bg;
  color: $text_color_g;
  p {
    padding: 0.9rem;
    font-weight: 500;
  }
}

/*!!!!!!!!!!!!!!!!!!!*/

/* .login_form {
  position: relative;
  .password_btn {
    width: 32px;
    height: 32px;
    position: absolute;
  }
} */
// #checkEye {
//   position: absolute;
//   top: 41.5%;
//   right: 44%;
//   transform: translateY(-50%);
// }
//   .btn {
//     border: 2px solid black;
//     display: flex;
//     flex-direction: row;
//   }

/* #password_btn {
  取消<button>預設樣式
  background-color: rgba(84, 84, 84, 0.3);
  border: none;
  自訂樣式
  width: 32px;
  height: 32px;
  絕對定位
  position: absolute;
  top: 40%;
  right: 35%;
} */

// #icon {
//   position: absolute;
//   top: 0;
//   right: 0;
//   display: flex;
//   justify-items: center;
//   margin-right: 8px;
// }

// .btn {
//   margin-top: 2rem;
//   border-radius: none;
//   outline: none;
//   background-color: none;
// padding: 0.2rem 0;
// width: 30%;
// height: 38px;
// font-size: $text_size-18px;
// display: flex;
// justify-content: center;
// align-items: center;
// cursor: pointer;

// form {
//   display: flex;
//   flex-direction: column;
//   padding: 0 5rem;
//   color: $text_color_g;
// }
// button {
//   margin-top: 2rem;
//   border-radius: 50px;
//   outline: none;
//   background-color: $text_color_g;
//   padding: 0.2rem 0;
//   width: 100%;
//   height: 38px;
//   font-size: $text_size-18px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
// }
