@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.go_top {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.3s;
}
.go_top:hover {
  background-color: #289DD2;
}
.go_top:active {
  transform: translateY(-10px);
}
.go_top:hover > img {
  animation: go_top 0.8s infinite alternate;
}
@keyframes go_top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

#fixedTop {
  padding: 15px 13px 8px 13px;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 99;
  display: none;
}

header {
  width: 100%;
  height: 110px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  margin-left: 1rem;
  z-index: 10;
}
@media (max-width: 576px) {
  header #logo img {
    width: 200px;
  }
}
@media (max-width: 992px) {
  header #nav_bar {
    display: none;
  }
}
header #nav_bar ul {
  display: flex;
  margin-right: 1.5rem;
}
header #nav_bar ul .nav_bar_item {
  position: relative;
  padding: 1rem;
  color: #545454;
  cursor: pointer;
}
header #nav_bar ul .nav_bar_item a {
  color: #545454;
}
header #nav_bar ul .nav_bar_item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: -1px;
  width: 0%;
  height: 2px;
  background-color: #545454;
  transition: width 0.5s ease-in-out;
}
header #nav_bar ul .nav_bar_item:hover::after {
  width: 100%;
}
header #nav_bar ul .nav_bar_item:hover > .drop_nav_bar {
  display: block;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar {
  display: none;
  width: 100%;
  text-align: center;
  background-color: #545454;
  position: absolute;
  margin-top: 1rem;
  left: 0;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item {
  padding: 0.5rem;
  transition: all 0.3s;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item a {
  color: #FFFFFF;
}
header #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item:hover {
  background-color: #289DD2;
}

footer {
  background-color: #545454;
  width: 100%;
}
footer .footer_web_map {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  footer .footer_web_map {
    flex-direction: column;
  }
  footer .footer_web_map .web_map_item {
    display: flex;
  }
}
@media (max-width: 576px) {
  footer .footer_web_map {
    display: none;
  }
}
footer .footer_web_map .web_map_item {
  margin: 0.5rem 2rem;
  text-align: center;
}
footer .footer_web_map .web_map_item .web_map_title {
  font-size: 18px;
}
footer .footer_web_map .web_map_item li {
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  transition: all 0.5s;
}
footer .footer_web_map .web_map_item a:hover li {
  background-color: #289DD2;
}
footer .logo {
  text-align: end;
  margin-right: 2rem;
}
@media (max-width: 576px) {
  footer .logo {
    text-align: center;
    padding-top: 1rem;
    margin: 0;
  }
  footer .logo img {
    width: 150px;
  }
}
footer .logo div {
  color: #FFFFFF;
}
@media (max-width: 576px) {
  footer .logo div {
    font-size: 14px;
  }
}
footer .logo .copyright {
  padding-bottom: 1rem;
}

#news_bn {
  width: 100%;
  height: 40vh;
  background-image: url(../img/newspaper-g342480d10_1280.jpg);
  background-position: center;
  background-size: cover;
}
#news_bn .text_box {
  color: #FFFFFF;
  padding: 5% 0 0 3%;
}
#news_bn .text_box .text_1 {
  font-size: 48px;
  font-weight: 700;
}
#news_bn .text_box .text_2 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 700;
}

#news_section {
  margin-bottom: 5rem;
}
#news_section .news_type_btn {
  margin: 5rem auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
#news_section .news_type_btn .btn {
  width: 150px;
  height: 50px;
  background-color: #289DD2;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
  border-radius: 15px;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  transition: all 0.5s;
}
#news_section .news_type_btn .btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.473);
}
#news_section .news_type_btn .all_btn {
  background-color: #377491;
}
#news_section .content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}
#news_section .news-card {
  margin: 2rem 1rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
@media (min-width: 900px) {
  #news_section .news-card {
    height: 20rem;
  }
}
#news_section .news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}
#news_section .news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#news_section .news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 1s ease;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}
#news_section .news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  transition: background-color 0.5s ease;
  width: 100%;
}
#news_section .news-card__title {
  transition: color 0.5s ease;
  margin-bottom: 0.5rem;
}
#news_section .news-card__post-date {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #CCC;
}
#news_section .news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity 1s ease;
}
@media (min-width: 900px) {
  #news_section .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  #news_section .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
  }
  #news_section .news-card:hover .news-card__title {
    color: #289DD2;
  }
  #news_section .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}
#news_section .news-card__excerpt {
  font-weight: 300;
  line-height: 25px;
}
#news_section .news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}
#news_section .news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: #888;
  transition: left 0.5s ease, color 0.6s ease;
  backface-visibility: hidden;
}
#news_section .news-card__read-more:hover i {
  left: 0.5rem;
  color: #289DD2;
}/*# sourceMappingURL=news.css.map */