@import "./public.scss";
body {
  width: 100%;
  height: 100vh;
}
#free {
  width: 100%;
  height: 940px;
  background-image: url(../img/grass.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .free_section {
    margin: 1.5rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    .tittle {
      color: $text_color_w;
      @include tittle();
      margin-left: -80%;
      padding: 10px;
      font-size: $text_size-32px;
      .tittle_ball {
        @include title_ball();
      }
    }
  }

  a {
    width: 881;
    height: 152px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: web_bg;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.137);
    }
  }

  .form_box {
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .free_form_1,
  .free_form_2,
  .free_form_3 {
    width: 865px;
    height: 152px;
    border-radius: 15px;
    background-color: white;
    border-bottom: 5rem;
  }
  .reserve_img img {
    width: 130px;
    height: 130px;
    border-radius: 15px;
  }
  .content hr {
    border: none;
    height: 1px;
    background: $text_color_g;
    background: repeating-linear-gradient(
      90deg,
      #545454,
      #545454 6px,
      transparent 6px,
      transparent 12px
    );
  }
  .content {
    color: #545454;
    &:hover {
      color: rgb(236, 118, 134);
    }
  }
}

#custumized {
  width: 100%;
  height: 500px;

  background-image: url(../img/sky.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .custumized_form {
    border-radius: 15px;
    background-color: hsla(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    .border_for_space {
      width: 811px;
      height: 260px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // 客製化預約title
      .cust_title {
        display: flex;
        justify-content: center;
        .tittle {
          color: $text_color_w;
          @include tittle();
          // margin-left: -50%;
          // margin-top: 5%;
          // padding: 10px;
          font-size: $text_size-32px;
          .tittle_ball {
            @include title_ball();
          }
        }
      }

      //詳情聯絡
      .content_text {
        color: $text_color_w;
        font-size: $text_size-28px;
        text-align: center;
      }

      .btn_svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 40px;
        border: 2px solid green;
        margin: 0 auto;

        cursor: pointer;
        border-radius: 15px;
        background-color: #289dd2;
        color: white;

        transition: 0.3s ease-in-out;
        p {
          padding-right: 1rem;
        }
        &:hover {
          transform: translateY(-3px);
          box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.137);
        }
      }
    }
  }
}

footer {
  background-color: $text_color_g;
  border-radius: 300px 0 0 0;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;

  @include phone() {
      border-radius: 300px 300px 0 0;
  }

  .footer_section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 350px;
      border-bottom: 1px solid $web_bg;
      background-image: url(../img/respic.jpg);
      border-radius: 300px 0 0 0;

      @include phone() {
          border-radius: 300px 300px 0 0;
      }

      .footer_img {
          margin-left: -5rem;
          margin-bottom: 10rem;

          @include phone() {
              width: 350px;
              margin-left: -2rem;
          }
      }

      .footer_web_map {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-left: -10rem;
          z-index: 0;
          position: relative;

          &::after {
              content: '';
              background-color: #545454d0;
              width: 100%;
              height: 300px;
              top: -10px;
              left: 0;
              position: absolute;
              z-index: -1;
              border-radius: 30px;
          }

          @include pad() {
              display: none;
          }

          .web_map_item {
              margin: 0.5rem 2rem;
              text-align: center;
              display: flex;

              .web_map_title {
                  width: 114px;
                  text-align: start;
                  position: relative;
                  z-index: 0;

                  &::before {
                      content: '';
                      position: absolute;
                      width: 15px;
                      height: 15px;
                      background-color: $title_ball_bg;
                      top: 7px;
                      left: 5px;
                      border-radius: 20px;
                      z-index: -1;
                  }
              }

              li {
                  padding: 0.5rem 1rem;
                  color: $text_color_w;
                  transition: $transition_5ms;
                  font-size: $text_size-16px;
              }

              a:hover li {
                  background-color: $title_ball_bg;
              }
          }
      }

      .footer_logo {
          margin-bottom: -19rem;

          @include pad() {
              display: none;
          }
      }
  }

  .copyright_section {
      display: flex;
      height: 70px;
      justify-content: center;
      align-items: center;

      @include phone(){
          flex-direction: column-reverse;
          height: 70px;
      }

      div {
          color: $text_color_w;
          margin-right: 3rem;

          @include phone() {
              font-size: 14px;
              margin-right: 1rem;
          }
      }
  }
}
