@import "./public.scss";

$green_block: green;
$red_block: red;
$gray_block: gray;

@mixin bor_style {
  border-top: thick double $text_color_g;
  border-left: thick double $text_color_g;
}

@mixin bgc_col {
  background-color: $text_color_g;
  color: $text_color_w;
}

p,
span {
  color: $text_color_g;
}

body {
  background-color: $web_bg;
}
main {
  .banner {
    margin-top: 4.5rem;
  }
  section {
    .container_info {
      align-items: center;
      margin: 5rem auto;
      display: flex;
      width: 70vw;
      justify-content: center;
      flex-wrap: wrap;

      //1440
      @include pc() {
        width: 90%;
        margin: 2rem auto;
      }
      //992
      @include pad() {
        margin: 0 auto;
        width: 80%;
      }
      //768
      @include pad2() {
        margin: 0 auto;
        width: 60%;
      }
      //576
      @include phone() {
        margin: 0 auto;
        width: 100%;
      }
      .ins_box {
        width: 530px;
        height: 355px;
        display: flex;
        margin: 3rem 1.5rem;
        @include pc() {
          margin: 1rem;
        }
        @include pad2() {
          height: 340px;
        }
        @include phone() {
          width: 100%;
          height: 260px;
        }
        .left_img {
          width: 55%;
          height: 100%;
          overflow: hidden;
          border-radius: 0 0 0 100px;
          @include bor_style();
          img {
            width: 100%;
            height: 100%;
            transition: 1.2s ease-in-out;
            &:hover {
              transform: scale(1.2, 1.2);
            }
          }
        }
        .right_info {
          width: 48%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: $text_size-16px;
          // border-bottom: 2px solid #545454;
          .right_info_title {
            border: 3px solid $text_color_g;
            border-radius: 0 15px 0 0;
            border-left: 0;
            p {
              font-size: $text_size-18px;
              text-align: center;
              line-height: 3rem;
            }
          }
          .right_info_content {
            padding: 0 1.5rem;
            @include phone() {
              padding: 0rem 0.6rem;
              margin-top: -0.2rem;
            }
            p {
              @include phone() {
                font-size: 16px;
              }
            }
          }
        }
        .right_info_footer {
          padding: 0rem;
          .footer_info_a,
          .footer_info_b,
          .footer_info_c {
            margin: 1rem 0.5rem;
            @include phone() {
              display: none;
            }
            .info_title {
              @include bgc_col();
            }
            .green {
              @include bgc_col();
              background-color: $green_block;
            }
          }
          .gray {
            @include bgc_col();
            background-color: $gray_block;
          }
          span {
            border: 2px solid $text_color_g;
            margin-right: 0.2rem;
            border-radius: 5px;
            padding: 0.2rem;
            font-size: 14px;
          }
        }
        .footer_info_b hr {
          margin-top: 1rem;
          border: 1px solid $text_color_g;
        }
        .footer_info_b,
        .footer_info_c {
          @include pad2() {
            display: none;
          }
        }
      }
    }
  }
}
footer {
  .move-in {
    animation: move-in 4s;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    .footer_img {
      animation: fly-move 3s infinite alternate;
      margin: 0;
    }
  }
}

@keyframes fly-move {
  0% {
    transform: rotate(0deg) translateX(10px) rotate(-0deg);
  }
  100% {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}
@keyframes move-in {
  0% {
    transform: translate(-500px, -500px);
  }
  50% {
    transform: translate(-300px, -350px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
