@import "./public.scss";

$green_block: green;
$red_block: red;
$gray_block: gray;

@mixin bor_style {
  border-top: thick double $text_color_g;
  border-left: thick double $text_color_g;
}

@mixin bgc_col {
  background-color: $text_color_g;
  color: $text_color_w;
}

p,
span {
  color: $text_color_g;
}

body {
  background-color: $web_bg;
}
main {
  section {
    .container_info {
      align-items: center;
      margin: auto;
      display: flex;
      width: 80vw;
      justify-content: center;
      flex-wrap: wrap;
      .ins_box {
        width: 580px;
        height: 400px;
        display: flex;
        margin: 1.5rem 3.5rem;
        .left_img {
          width: 55%;
          height: 100%;
          overflow: hidden;
          border-radius: 0 0 0 100px;
          @include bor_style();
          img {
            width: 100%;
            height: 100%;
            transition: 1.2s ease-in-out;
            &:hover {
              transform: scale(1.2, 1.2);
            }
          }
        }
        .right_info {
          width: 48%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: $text_size-16px;
          .right_info_title {
            border: 3px solid $text_color_g;
            border-radius: 0 15px 0 0;
            border-left: 0;
            p {
              font-size: $text_size-18px;
              text-align: center;
              line-height: 3rem;
            }
          }
          .right_info_content {
            padding: 0 1.5rem;
          }
          .right_info_footer {
            padding: 0rem;
            .footer_info_a,
            .footer_info_b,
            .footer_info_c {
              margin: 1rem 0.5rem;
              .info_title {
                @include bgc_col();
              }
              .green {
                @include bgc_col();
                background-color: $green_block;
              }
              .gray {
                @include bgc_col();
                background-color: $gray_block;
              }
              span {
                border: 2px solid $text_color_g;
                margin-right: 0.2rem;
                border-radius: 5px;
                padding: 0.2rem;
              }
            }
            .footer_info_b hr {
              margin-top: 1rem;
              border: 1px solid $text_color_g;
            }
          }
        }
      }
    }
  }
}
