@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
@import "./hamburger.css";
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.go_top {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: 0.3s;
}
.go_top:hover {
  background-color: #289dd2;
}
.go_top:active {
  transform: translateY(-10px);
}
.go_top:hover > img {
  animation: go_top 0.8s infinite alternate;
}
@keyframes go_top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

#fixedTop {
  padding: 15px 13px 8px 13px;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 99;
  display: none;
}

header {
  width: 100%;
  height: 110px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .all_part {
  position: relative;
  z-index: 0;
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}
header .all_part #logo {
  margin-left: 1rem;
  z-index: 10;
}
@media (max-width: 576px) {
  header .all_part #logo img {
    width: 200px;
  }
}
@media (max-width: 992px) {
  header .all_part #nav_bar {
    display: none;
  }
}
header .all_part #nav_bar ul {
  display: flex;
  margin-right: 1.5rem;
}
header .all_part #nav_bar ul .nav_bar_item {
  position: relative;
  padding: 1rem;
  color: #545454;
  cursor: pointer;
}
header .all_part #nav_bar ul .nav_bar_item a {
  color: #545454;
}
header .all_part #nav_bar ul .nav_bar_item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: -1px;
  width: 0%;
  height: 2px;
  background-color: #545454;
  transition: width 0.5s ease-in-out;
}
header .all_part #nav_bar ul .nav_bar_item:hover::after {
  width: 100%;
}
header .all_part #nav_bar ul .nav_bar_item:hover > .drop_nav_bar {
  display: block;
}
header .all_part #nav_bar ul .nav_bar_item .drop_nav_bar {
  display: none;
  width: 100%;
  text-align: center;
  background-color: #545454;
  position: absolute;
  margin-top: 1rem;
  left: 0;
}
header .all_part #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item {
  padding: 0.5rem;
  transition: all 0.3s;
}
header .all_part #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item a {
  color: #ffffff;
}
header .all_part #nav_bar ul .nav_bar_item .drop_nav_bar .drop_nav_bar_item:hover {
  background-color: #289dd2;
}

footer {
  background-color: #545454;
  width: 100%;
}
footer .footer_web_map {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  footer .footer_web_map {
    flex-direction: column;
  }
  footer .footer_web_map .web_map_item {
    display: flex;
  }
}
@media (max-width: 576px) {
  footer .footer_web_map {
    display: none;
  }
}
footer .footer_web_map .web_map_item {
  margin: 0.5rem 2rem;
  text-align: center;
}
footer .footer_web_map .web_map_item .web_map_title {
  font-size: 18px;
}
footer .footer_web_map .web_map_item li {
  padding: 0.5rem 1rem;
  color: #ffffff;
  transition: all 0.5s;
}
footer .footer_web_map .web_map_item a:hover li {
  background-color: #289dd2;
}
footer .logo {
  text-align: end;
  margin-right: 2rem;
}
@media (max-width: 576px) {
  footer .logo {
    text-align: center;
    padding-top: 1rem;
    margin: 0;
  }
  footer .logo img {
    width: 150px;
  }
}
footer .logo div {
  color: #ffffff;
}
@media (max-width: 576px) {
  footer .logo div {
    font-size: 14px;
  }
}
footer .logo .copyright {
  padding-bottom: 1rem;
}

section {
  width: 100%;
}

#droneType_bn {
  width: 100%;
  height: 40vh;
  background-image: url(../img/39dc3e04639d280bc0f0817a36040362.jpg);
  background-position: center;
  background-size: cover;
}
#droneType_bn .text_box {
  color: #545454;
  padding: 5% 0 0 3%;
}
#droneType_bn .text_box .text_1 {
  font-size: 48px;
  font-weight: 700;
}
#droneType_bn .text_box .text_2 {
  font-size: 32px;
  font-weight: 700;
}

.bn_text {
  width: 80%;
  height: 40vh;
  background-image: url(../img/dji_fly_20230124_105622_463_1674529171801_photo_optimized.jpg);
  background-position: center;
  background-size: cover;
  margin: 3rem auto;
  border-radius: 15px;
  position: relative;
  top: -150px;
  background-attachment: fixed;
}
.bn_text p {
  width: 80%;
  line-height: 25px;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 10%;
}

#drone_type .drone_type_btn {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
#drone_type .drone_type_btn .btn {
  width: 150px;
  height: 50px;
  background-color: #289dd2;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  border-radius: 15px;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
}
#drone_type .drone_type_btn .novice_btn {
  background-color: #377491;
}
#drone_type .drone_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  margin-top: 5rem;
}
#drone_type .drone_section .drone_type_item {
  width: 80%;
  height: 300px;
  position: relative;
  transition: all 0.5s;
}
#drone_type .drone_section .drone_type_item .img_mini2_se {
  background-image: url(../img/mini2se.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#drone_type .drone_section .drone_type_item .img_mini2 {
  background-image: url(../img/mini2.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#drone_type .drone_section .drone_type_item .img_mini3 {
  background-image: url(../img/mini3.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#drone_type .drone_section .drone_type_item .img_mini3_pro {
  background-image: url(../img/mini3pro.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#drone_type .drone_section .drone_type_item .img_air2s {
  background-image: url(../img/air2s.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#drone_type .drone_section .drone_type_item .img_m3c {
  background-image: url(../img/m3c.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#drone_type .drone_section .drone_type_item .img_mv3p {
  background-image: url(../img/mv3p.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#drone_type .drone_section .drone_type_item .img_fpv {
  background-image: url(../img/fpv.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#drone_type .drone_section .drone_type_item .img_avata {
  background-image: url(../img/avata.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#drone_type .drone_section .drone_type_item .box_2 {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}
#drone_type .drone_section .drone_type_item .box_2 .box_3 {
  width: 25%;
  height: 300px;
  background-color: #f5f5f5;
}
#drone_type .drone_section .drone_type_item .box_2 .box_4 {
  width: 0;
  height: 0;
  border-top: 300px solid rgba(150, 22, 22, 0);
  border-left: 300px solid #f5f5f5;
}
#drone_type .drone_section .drone_type_item .drone_text {
  position: absolute;
  top: 0px;
  left: 0;
  width: 35%;
  padding: 1rem;
  margin-top: 1.5rem;
}
#drone_type .drone_section .drone_type_item .drone_text .type_title {
  font-size: 32px;
  font-weight: 700;
}
#drone_type .drone_section .drone_type_item .drone_text p {
  color: #545454;
  margin: 0.5rem 0;
}
#drone_type .drone_section .drone_type_item .drone_text .more_btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#drone_type .drone_section .drone_type_item .drone_text .more_btn div {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}
#drone_type .drone_section .more_text {
  overflow: hidden;
}
#drone_type .drone_section .more_text div {
  width: 35%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  line-height: 40px;
  padding: 2rem;
  transform: translateY(-450px);
  transition: all 0.5s;
}

footer {
  margin-top: 450px;
}/*# sourceMappingURL=droneType.css.map */