@import "./public.scss";
$raduis: 15px;

@mixin abs-wid {
  position: absolute;
  width: 80%;
}

@mixin background() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
}

//------- 伯朗 -------
section {
  .big_c {
    position: relative;
    .banner {
      position: relative;
      z-index: -1;
      background-image: url(../img/law-bg.png);
      @include background();
      width: 100%;
      .law_title_top {
        padding: 5rem 7rem;
        line-height: 2rem;
        h1,
        p {
          color: $text_color_w;
        }
        h1 {
          font-size: $text_size-48px;
        }
        p {
          margin-top: 2rem;
          font-size: $text_size-32px;
        }
      }
    }
    .middle_text {
      @include abs-wid();
      top: 18rem;
      left: 10%;
      background-image: url(../img/伯朗.jpg);
      @include background();
      border-radius: $raduis;
      .incul {
        @include abs-wid();
        line-height: 25px;
        color: $text_color_w;
        top: 30%;
        left: 10%;
      }
    }
  }
}
//------ 易觸犯規範 ------//
section {
  .law_title_mix {
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    .tittle {
      @include tittle();
      font-size: $text_size-40px;
      .tittle_ball {
        @include title_ball();
      }
    }
  }

  // 大外框
  .box_touch {
    height: 70vh;
    width: 50%;
    display: flex;
    margin: 3rem auto;
    position: relative;
    // 照片
    .box_img {
      height: 100%;
      img {
        width: 600px;
        height: 100%;
      }
    }
    // 移動列
    .col-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .box-silde {
        position: relative;
        width: 250px;
        height: 100px;
        transition: ease-in-out 1.2s;
        background-color: $btn_bg;
        align-items: center;
        border-radius: $raduis;
        text-align: center;
        line-height: 100px;
        color: $text_color_w;
        margin: auto 0;
        box-shadow: inset 0 0 7px black;
        .box-word {
          position: absolute;
          background-color: hsla(0, 0%, 0%, 0.39);
          width: 400px;
          height: 90px;
          z-index: -1;
          top: 3px;
          left: -10px;
          transition: ease-in-out 1.2s;
          line-height: 1.35rem;
          padding: 1rem;
          text-align: left;
          display: none;
        }
        &:hover {
          cursor: pointer;
          transform: translateX(-100px);
        }
        &:hover .box-word {
          display: block;
          transform: translateX(280px);
        }
      }
    }
  }
}

//------ 限高區域 ------//
section {
  .limit_h {
    width: 70%;
    margin: 5rem auto;
    display: flex;
    // 左邊img & title
    .left_box {
      margin-top: 5rem;
      width: 57%;
      // title
      .tittle {
        @include tittle();
        font-size: $text_size-40px;
        .tittle_ball {
          @include title_ball();
        }
      }
      // 限高照片
      img {
        width: 800px;
        height: 350px;
        margin-top: 3rem;
      }
    }
    // 右邊img &shadow
    .shadow_pic {
      width: 550px;
      height: 540px;
      position: relative;
      .shadow {
        background-image: url(../img/law_infoVague.png);
        width: 420px;
        height: 420px;
      }
      img {
        position: absolute;
        width: 450px;
        height: 450px;
        right: 0;
        bottom: 0;
      }
    }
  }
}

//------ 註冊 ------//
section {
  .law_login {
    width: 60%;
    margin: 0 auto;
    .tittle {
      @include tittle();
      .tittle_ball {
        @include title_ball();
      }
    }
  }
  .pic_mix {
    width: 60%;
    height: 45vh;
    margin: 2rem auto;
    position: relative;
    .pic_text {
      width: 600px;
      height: 228px;
      background-color: hsla(0, 0%, 0%, 0.5);
      border-radius: 15px;
      display: flex;
      align-items: center;
      .text {
        padding: 3rem;
        p {
          margin-bottom: 1.5rem;
          color: $text_color_w;
        }
      }
    }
    .pic_p {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

//------ 考照相關 ------//
section {
  .law_test {
    width: 60%;
    margin: 4rem auto 0;
    .tittle {
      @include tittle();
      .tittle_ball {
        @include title_ball();
      }
    }
  }
  //  照片
  .law_pic_mix {
    width: 60%;
    height: 86vh;
    margin: 2rem auto 4rem;
    display: flex;

    background-image: url(../img/操作證-模糊.png);
    background-position: top right;
    background-repeat: no-repeat;

    .mix_left {
      .mix_text {
        width: 600px;
        height: 228px;
        background-color: hsla(0, 0%, 0%, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 3rem 5rem;
        border-radius: 15px;
        .mix_word {
          padding: 2rem;
          p {
            margin-bottom: 1.5rem;
            color: $text_color_w;
          }
        }
      }
      .difference {
        overflow: hidden;
        width: 480px;
        height: 480px;
        margin-left: 2rem;
        img {
          width: 100%;
        }
      }
    }
    .operate {
      position: relative;
      width: 100%;
      img {
        position: absolute;
        width: 405px;
        height: 550px;
        bottom: 1.5rem;
        left: -8rem;
      }
    }
  }
}

//------ 安全飛行準則 ------//
section {
  .fly-allow {
    width: 100%;
    height: 650px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
